<%- include("partials/header") -%>



<p id="timer-function"></p>


<div class="word-box">
  <h1 id="h1-saying"><%= content %></h1>
  <h2 id="correct-way"></h2>
  <h2 id="wrong-way"></h2>
</div>

<p id="definition-saying"></p>
<div class="sound-btn-div">
  <i id="sound-icon"class="fas fa-volume-up sound-icon hide1"></i><br />
</div>


<input id="inputBox" class="input-box hide1" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" type="text" name="userWord" value="" >
<button id="pressPlay" type="button" class="btn btn-warning press-play">Start</button>
<button id="answerButton" class="btn btn-warning submit-button hide1" type="button" name="button">submit</button>
<button id="playAgain-btn" class="btn btn-warning play-again">Play Again</button>

<div class="ent-screen">

  <div class="box">
    <h2 id="points-display">0</h2>
    <p>Points</p>
    </div>

    <div class="box">
    <h2 id="words-Captured-display">0</h2>
    <p>Captured Words</p>
    </div>

    <div class="box">
    <h2 id="missed-words-display">0</h2>
    <p>Missed Words</p>
    </div>


    <input id="mode-setting-value"type="hidden" name="" value=<%= mode %>>
    <input id="easy-setting-value"type="hidden" name="" value=<%= easyMode %>>
    <input id="normal-setting-value"type="hidden" name="" value=<%= normalMode %>>
    <input id="hard-setting-value"type="hidden" name="" value=<%= hardMode %>>
    <input id="high-score"type="hidden" name="" value=<%= points %>>

</div>

<%- include("partials/footer")-%>
